@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: bm;
  src: url(./font/BlackMango-Black.otf);
}

h1{
  font-family: bm;
}

body{
  background: url(./img/stars-bg.png);
  color: rgb(184, 182, 182);
  font-family: "Poppins", sans-serif;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  /* font-size: 18px; */
}

.logo{
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.logo .star{
  width: 14px;
  object-fit: cover;
  margin-right: 4px;
}

.menu-items{
  display: flex;
  gap: 2rem;
}

li{
  list-style: none;
  text-transform: capitalize;
}

a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  display: block;
  transition: .3s ease;
}

a:hover{
  text-decoration: underline;
  transform: scale(1.1);
}

section{
  height: 100vh;
  padding: 3rem;
}

.section-one{
  height: calc(100vh - 85px);
}

.container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: auto;
  align-items: center;
}

.gold{
  height: 600px;
  width: 600px;
  object-fit: cover;
}

.title{
  line-height: 1.2;
}

.title h1{
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  color: #fff;
}

.title .star{
  width: 40px;
}

p{
  font-size: 14px;
  font-weight: 600;
  max-width: 400px;
}

.p{
  padding: 2rem 0;
}

button{
  border: none;
  outline: none;
  background: linear-gradient(to right, #2b32b2, #1488cc);
}